
.formacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formacion__info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);

    width: 60%;
}

.formacion__card{   
    display: flex;
    flex-wrap: wrap;

    margin-right: 1rem;
    justify-content: center;
    transition: 0.3s;
    padding-left: 3rem;
}

.formacion__card:hover{
    transform: scale(1.15);
    border-color: aqua;


}

.formacion__card__img1{
    
    background: var(--background-semidark);
    background-image: url(../assets/logo-otto-krause.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    
    justify-self: center;

    width: 200px;
    height: 150px;
    border: var(--background-light);
    border-style: solid;
    border-radius: 10px;
}

.formacion__card__img2{
    background: var(--background-light);
    background-image: url(../assets/Alura.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    
    justify-self: center;

    width: 200px;
    height: 150px;
    
    border-radius: 5px;
}

.formacion__card__img3{
    background: var(--background-light);
    background-image: url(../assets/udemy_logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    
    justify-self: center;

    width: 200px;
    height: 150px;
    
    border-radius: 5px;
}

.formacion__card__titulo{
    width: 100%;
    margin-top: 10px;
    color: var(--background-light);
    text-align: center;
    font-size: 1.35rem;
}

.formacion__card__subtitulo{
    width: 100%;
    margin-top: 5px;
    color: var(--background-light);
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
 .formacion__info{        
    grid-template-columns: repeat(1, 1fr);
 }
 .formacion__card{
    padding: 0;
    margin-bottom: 50px;
 }
}