
.skills{   
    height: 100%;    
}


.skills__contenido{    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.skills__card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 100px;
    height: 100%;
    transition: 0.6s;
}

.skills__card:hover{
    transform: scale(1.5);
}

.skills__card__imagen {
    height: 100%;
    width: 80%;
}

.skills__card__titulo {
    color: var(--background-light);
    text-align: center;
    font-size: 1.35rem;
}

@media screen and (max-width: 800px) {
    .formacion__info{        
       grid-template-columns: repeat(1, 1fr);
    }
    .formacion__card{
       padding: 0;
    }
}